---
permalink: /jsonfeed/index.json
---

{
	"version": "https://jsonfeed.org/version/1",
	"title": "{{ site.title }}",
	"home_page_url": "{{ site.url }}",
	"feed_url": "{{ site.url }}{{ page.url }}",
	"description": "{{ site.description }}",
	"author": { "name": "{{ site.author_name }}" },
	"items": [
	{% for post in site.posts limit:10 %}
	{
		"id": "{{ site.url }}{{ post.url }}",
		"title": "{{ post.title }}",
		"content_text": {{ post.excerpt | jsonify }},
		"url": "{{ site.url }}{{ post.url }}",
		"date_published": "{{ post.date }}",
		"tags":  {{ post.tags | jsonify }} 
	}
	 {% if forloop.last == false %},{% endif %}
	{% endfor %}
	]
}